.footerbg {
  background-color: #218784;
  color: white;
}
.footer-link {
  text-decoration: none;
  color: white;
}
.footer-link:hover {
  color: lightcoral;
  text-decoration: underline;
}
.text-name {
  color: #5c0a3f;
}
